/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body {
	width: 90%;
	margin:0 auto;
}

h1 {
	font-size: 65px;
	text-align: center;
}

h2 {
	font-size: 30px;
	padding-top:30px;
}

h4{
	font-size: 35px;
}

nav {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin-top:20px;
}

a {
	text-decoration: none;
	color: grey;
	margin: 10px;
	padding: 10px;
}

section {
	display:flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin:20px 0 20px 0;
}

button {
	border-radius: 6px;	
	width:100px;
	height:40px;
	align-self: center;

}

.center {
	text-align: center;	
}

.centerbutton {
	display:flex;
	justify-content: center;
	flex-direction: column;
}

p {
	padding-bottom:10px;
}

div {
	width:49%;
	height:380px;
	margin:20px 0 60px 0;

}

.div1 {
	width: 32%;
	height:150px;
	margin:20px 0 40px 0;
}

.middle-img {
	width:100%;
}

.withb {
	border-top: 2px solid black;

}

.greybox {
	border:2px solid black;
	background:lightgrey;
	padding:15px;
	width: 350px;
	height:200px;
	margin:20px;
}

.logo {
	display: none;
}

.container {
    width: 183px;
    height: 36px;
}

.a {
	list-style-type: circle;
  }

  li {
	  padding-bottom: 5px;
	  margin-left: 20px;
  }
  

@media (max-width:800px){
	
	.dnone {
		display: none;
	}

	.logo{
		display: block;
		margin: 15px auto;

	}

	.container {
		display: none;
	}

	div {
		width:49%;
		height:350px;
		margin:20px 0 30px 0;
	
	}

	.div1 {
		width: 32%;
		height:180px;
		margin:20px 0 20px 0;
	}
}


@media (max-width:500px){


	body {
		width: 100%;
		margin:0px;
		
	}

	nav {
		display:flex;
		flex-flow:column;
		justify-content: space-evenly;
		margin:0px;
	}

	div {
		width:100%;
		height:300px;
		margin:20px 0 30px 0;
	
	}

	.div1 {
		width: 100%;
		height:150px;
		margin:20px 0 10px 0;
	}

	a {
		text-align:center;
		border-bottom:2px solid grey;
		margin: 0px;
		padding: 20px;
	}
 
	nav a:nth-child(1) {
		border-top:2px solid grey;
	}

}